*{
    pad: 0;
    margin: 0;
}

.quiz{
    width: 62%;  /* 600px*/
    height: 800px; /* 500px*/
    margin: 40px auto; /* 60px auto */
    box-shadow: 0 0 0 6px ;  /*0 0 0 8px */
    background-image: url("ibm-pc.jpg");
    
}

/*h1{
    background-color: grey;
}
*/
header {
    height: 110px; /* 60px */
    line-height: 60px;
    border-bottom: 5px ridge rgb(236, 22, 22);  /* 1px solid #ddd */
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: rgb(236, 22, 22);
    font-weight: 100; 
    font-variant-position: normal;
}

.option {
    width: 35%; /*200px */
    height: 100px;  /* 120px*/
    margin: 50px;   /* 50px */
    box-shadow: 0 0 3px; /*0 0 3px */
    float: left;
    line-height: 100px;  /* 120px */
    text-align: center;
    font-size: 28px;
    color: rgb(182, 199, 31);
}

.option:hover{
    cursor: pointer;
    background-color: rgb(29, 167, 167);
}